/*
 * -------------------------------------------------
 *  nfcore/viralrecon custom profile Nextflow config file
 * -------------------------------------------------
 * Defines viral reference genomes for all environments.
 */

process {

    withName: 'ARTIC_GUPPYPLEX' {
        ext.args = '--min-length 250 --max-length 3200'
        publishDir = [
            path: { "${params.outdir}/guppyplex" },
            enabled: false
        ]
    }

    withName: 'ARTIC_MINION' {
        ext.args = [
            '--normalise 500',
            params.artic_minion_caller  == 'medaka' ? '--medaka' : '',
            params.artic_minion_aligner == 'bwa'    ? '--bwa'    : '--minimap2'
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.artic_minion_caller}" },
            mode: 'copy',
            pattern: "*.{sorted.bam,sorted.bam.bai,fail.vcf,merged.vcf,primers.vcf,gz,tbi,consensus.fasta}"
        ]
    }

    withName: 'IVAR_TRIM' {
        ext.args = '-q 1 -m 30 -s 4'
    }

    withName: 'IVAR_CONSENSUS' {
                ext.args = '-t 0 -q 1 -m 10 -n N'
                ext.args2 = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
                ext.prefix = { "${meta.id}.ivar.consensus" }
    }

    withName: 'MEDAKA' {
                //ext.args = { "-m ${params.artic_minion_medaka_model}" }
                ext.args = '-g'
                ext.prefix = { "${meta.id}.medaka.consensus" }
    }
}

params {
  // Genome reference file paths
  genomes {
    // HBV
    'HBV_B_ncbi' {
      // This version uses the NCBI accession AB073824 as reference
      fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V1/AB073824.fasta'
      primer_sets {
          artic {
      	    '1' {
      		fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V1/Ringlander.reference.fasta'
      		primer_bed = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V1/Ringlander.scheme.bed'
      		scheme = 'Ringlander'
      		scheme_version = '1'
      		}
      	    }
          }
      }
    'HBV_B_Torstein' {
      fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V2/Torstein_B.fasta'
      primer_sets {
          artic {
      	    '1' {
      		fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V2/Ringlander.reference.fasta'
      		primer_bed = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V2/Ringlander.scheme.bed'
      		scheme = 'Ringlander'
      		scheme_version = '2'
      		}
      	    }
          }
      }
     'HBV_B_Eugenia' {
      fasta = 'data/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V3/Eugenia_B.fasta'
      primer_sets {
          artic {
      	    '1' {
      		fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V3/Ringlander.reference.fasta'
      		primer_bed = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V3/Ringlander.scheme.bed'
      		scheme = 'Ringlander'
      		scheme_version = '3'
      		}
      	    }
          }
      }

     'HBV_B_NC_003977' {
      fasta = 'data/primer-schemes/Ringlander/V4/Ringlander.reference.fasta'
      primer_sets {
          artic {
      	    '1' {
      		fasta = 'data/primer-schemes/Ringlander/V4/Ringlander.reference.fasta'
      		primer_bed = 'data/primer-schemes/Ringlander/V4/Ringlander.scheme.bed'
      		scheme = 'Ringlander'
      		scheme_version = '4'
      		}
      	    }
          }
      }
      'HBV_B_NC_003977_mod' {
      // Reference sequence modified by moving sequence matching amplicon 1 to the 3' end
      fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V5/Ringlander.reference.fasta'
      primer_sets {
          artic {
      	    '1' {
      		fasta = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V5/Ringlander.reference.fasta'
      		primer_bed = '/home/jonr/Prosjekter/HBV/primer-schemes/Ringlander/V5/Ringlander.scheme.bed'
      		scheme = 'Ringlander'
      		scheme_version = '5'
      		}
      	    }
          }
      }
    // SARS-CoV-2
    'NC_045512.2' {
      // This version of the reference has been kept here for backwards compatibility.
      // Please use 'MN908947.3' if possible because all primer sets are available / have been pre-prepared relative to that assembly
      fasta            = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.fna.gz'
      gff              = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.gff.gz'
      nextclade_dataset           = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/nextclade_sars-cov-2_MN908947_2022-06-14T12_00_00Z.tar.gz'
      nextclade_dataset_name      = 'sars-cov-2'
      nextclade_dataset_reference = 'MN908947'
      nextclade_dataset_tag       = '2022-06-14T12:00:00Z'
    }

    // SARS-CoV-2
    'MN908947.3' {
      fasta            = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.fna.gz'
      gff              = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
      nextclade_dataset           = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/nextclade_sars-cov-2_MN908947_2022-06-14T12_00_00Z.tar.gz'
      nextclade_dataset_name      = 'sars-cov-2'
      nextclade_dataset_reference = 'MN908947'
      nextclade_dataset_tag       = '2022-06-14T12:00:00Z'
      primer_sets {
        artic {
          '1' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V1/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V1/nCoV-2019.primer.bed'
            scheme     = 'nCoV-2019'
          }
          '2' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V2/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V2/nCoV-2019.primer.bed'
            scheme     = 'nCoV-2019'
          }
          '3' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V3/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V3/nCoV-2019.primer.bed'
            scheme     = 'nCoV-2019'
          }
          '4' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V4/SARS-CoV-2.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V4/SARS-CoV-2.scheme.bed'
            scheme     = 'SARS-CoV-2'
          }
          '4.1' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V4.1/SARS-CoV-2.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V4.1/SARS-CoV-2.scheme.bed'
            scheme     = 'SARS-CoV-2'
          }
          '5.3.2' {
            fasta      = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V5.3.2/SARS-CoV-2.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/artic-network/artic-ncov2019/raw/master/primer_schemes/nCoV-2019/V5.3.2/SARS-CoV-2.scheme.bed'
            scheme     = 'SARS-CoV-2'
          }
          '1200' {
            fasta      = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/artic/nCoV-2019/V1200/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/artic/nCoV-2019/V1200/nCoV-2019.bed'
            scheme     = 'nCoV-2019'
          }
        }
        'NEB' {
          // VarSkip short primers
          'vss1' {
            fasta      = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/artic/nCoV-2019/V1200/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/NEB/nCov-2019/vss1/neb_vss1.primer.bed'
            scheme     = 'nCoV-2019'
          }
          // VarSkip long primers
          'vsl1' {
            fasta      = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/artic/nCoV-2019/V1200/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/NEB/nCov-2019/vsl1/neb_vsl1.primer.bed'
            scheme     = 'nCoV-2019'
          }
        }
        'atoplex' {
            fasta      = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MN908947.3/primer_schemes/artic/nCoV-2019/V1200/nCoV-2019.reference.fasta'
            gff        = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_045512.2/GCF_009858895.2_ASM985889v3_genomic.200409.gff.gz'
            primer_bed = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_045512.2/amplicon/nCoV-2019.atoplex.V1.bed'
            scheme     = 'nCoV-2019'
        }
      }
    }

    // Monkeypox
    'NC_063383.1' {
      fasta            = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_063383.1/GCF_014621545.1_ASM1462154v1_genomic.220824.fna.gz'
      gff              = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_063383.1/GCF_014621545.1_ASM1462154v1_genomic.220824.gff.gz'
      nextclade_dataset           = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/NC_063383.1/nextclade_hMPXV_NC_063383.1_2022-08-19T12_00_00Z.tar.gz'
      nextclade_dataset_name      = 'hMPXV'
      nextclade_dataset_reference = 'NC_063383.1'
      nextclade_dataset_tag       = '2022-08-19T12:00:00Z'
    }

    // Monkeypox
    'ON563414.3' {
      fasta            = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/ON563414.3/GCA_023516015.3_ASM2351601v1_genomic.220824.fna.gz'
      gff              = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/ON563414.3/GCA_023516015.3_ASM2351601v1_genomic.220824.gff.gz'
    }

    // Monkeypox
    'MT903344.1' {
      fasta            = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MT903344.1/GCA_014621585.1_ASM1462158v1_genomic.220824.fna.gz'
      gff              = 'https://github.com/nf-core/test-datasets/raw/viralrecon/genome/MT903344.1/GCA_014621585.1_ASM1462158v1_genomic.220824.gff.gz'
    }

  }
}
