/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    strategy = 'mapping'
    mapper = 'bowtie2'
    kraken_all = 'true'
    kraken_focused = "${projectDir}/data/kraken_db/db_hepacivirus/"
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = "${projectDir}/data/blast_db/HCVgenosubtypes_8.5.19_clean.fa"
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95
    skip_hcvglue = true
    minAgensRead = 50000
    minAgensCov = 5
}

process {

    withName: 'GLUEPARSE' {
        publishDir = [
            path: { "${params.outdir}/glueparse" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'BOWTIE2_ALIGN' {
        ext.args = "--very-sensitive-local"
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = "-dbtype nucl"
    }

    withName: BLAST_BLASTN {
        ext.args = "-outfmt 6"
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:TANOTI_ALIGN' {
        label      = 'error_ignore' // Some samples simply take too much time to map
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_MARKDUP' {
        ext.args   = '-r' // Remove duplicate reads
        ext.prefix = { "${meta.id}.${meta.reference}.major.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_MARKDUP' {
        ext.args   = '-r' // Remove duplicate reads
        ext.prefix = { "${meta.id}.${meta.reference}.minor.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_MARKDUP' {
        ext.args   = '-r' // Remove duplicate reads
        //ext.prefix = { "${meta.id}.first_mapping.first_mapping.nodup" }
        //ext.extension = 'markdup.bam'
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_IDXSTATS_WITHDUP' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_IDXSTATS_MARKDUP' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.${meta.reference}.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.${meta.reference}.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_DEPTH.*' {
        ext.args   = '-aa -d 1000000'
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:SAMTOOLS_DEPTH' {
        ext.args   = '-aa -d 1000000'
        ext.prefix = { "${meta1.id}.${meta1.reference}.major.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:SAMTOOLS_DEPTH' {
        ext.args   = '-aa -d 1000000'
        ext.prefix = { "${meta1.id}.${meta1.reference}.minor.nodup" }
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}.nodup" }
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.major.withdup" }
        publishDir = [
            path: { "${params.outdir}/samtools" }
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.minor.withdup" }
        publishDir = [
            path: { "${params.outdir}/samtools" }
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.major.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" }
        ]
    }

    withName: 'NIPH_VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.minor.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" }
        ]
    }
}



