/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    kraken_focused = "${projectDir}/data/kraken_db/db_rotavirus/"
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = "${projectDir}/data/blast_db/Rotavirus_genomes_ncbi_namesedited.fasta"
    rov_references = "${projectDir}/data/rota_references/rov_references.tar.gz"
}

process {

    withName: 'BBMAP_BBNORM' {
        ext.args = "target=100 min=5"
        publishDir = [
            path: { "${params.outdir}/bbnorm" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIGOR' {
        publishDir = [
            path: { "${params.outdir}/vigor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIGOR_GFF_EXTRACT' {
        publishDir = [
            path: { "${params.outdir}/vigor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIGOR_HIGH_COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/vigor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:COMBINE_GFF_FASTA' {
        publishDir = [
            path: { "${params.outdir}/vigor" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:EXTRACT_COMBINE_SEQS' {
        publishDir = [
            path: { "${params.outdir}/mafft" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPADES_RNAVIRAL {
        ext.args   = "--rnaviral"
        label      = 'error_ignore'
        publishDir = [
            path: { "${params.outdir}/spades_rnaviral" },
            pattern: '*fa.gz',
            mode: params.publish_dir_mode
        ]
    }

    withName: SPADES_ISOLATE {
        ext.args   = "--isolate --cov-cutoff auto"
        label      = 'error_ignore'
        publishDir = [
            path: { "${params.outdir}/spades_isolate" },
            pattern: '*fa.gz',
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:MAFFT' {
        ext.prefix = { "${meta.id}.${meta.gene}" } // Add gene name to prefix
        ext.args = '--auto'
        cpus = 2 // override process_high settings in the module file
        memory = 12.GB // override process_high settings in the module file
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:MAFFT_PAIRWISE' {
        ext.prefix = { "${meta.id}.${meta.gene}.pairwise" } // Add gene name and "pairwise" to prefix to avoid conflicts with other MAFFT module
        ext.args = '--auto'
        cpus = 2 // override process_high settings in the module file
        memory = 12.GB // override process_high settings in the module file
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:PREPARE_MAFFT' {
        publishDir = [
            path: { "${params.outdir}/mafft" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'IQTREE' {
        ext.prefix = { "${meta.id}.${meta.gene}" } // Add gene name to prefix
        ext.args = '-B 1000 -m TEST'
        cpus = 8 // override process_medium settings in the module file
        memory = 60.GB // override process_medium settings in the module file
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:PARSE_PHYLOGENY' {
        publishDir = [
            path: { "${params.outdir}/genotype" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:CALCULATE_PAIRWISE_ALIGNMENT_METRICS' {
        publishDir = [
            path: { "${params.outdir}/genotype" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:BOWTIE2_BUILD' {
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            //mode: params.publish_dir_mode
            enabled: false
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:BOWTIE2_ALIGN' {
        ext.args = "--very-sensitive-local"
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            //mode: params.publish_dir_mode
            enabled: false
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:SAMTOOLS_SORMADUP' {
        ext.prefix = { "${meta.id}.${meta.gene}.${meta.contig}.markdup" }
        ext.args5 = "-r"
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.withdup" }
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.markdup" }
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:SUMMARIZE_STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.withdup" }
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:SUMMARIZE_STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.markdup" }
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:INDEX_.*' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:PREPARE_.*' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'COLLECT_GENOTYPE_INFO' {
        publishDir = [
            path: { "${params.outdir}/genotype" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NIPH_VIRALSEQ:ROV_ILLUMINA:MAFFT_IQTREE_BOWTIE2:CREATE_JPG' {
        publishDir = [
            path: { "${params.outdir}/genotype" },
            mode: params.publish_dir_mode
        ]
    }

}


