/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    strategy = 'mapping'
    mapper = 'bowtie2'
    kraken_all = 'true'
    kraken_focused = "${projectDir}/data/kraken_db/db_hepacivirus/"
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = "${projectDir}/data/blast_db/HCVgenosubtypes_8.5.19_clean.fa"
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95
    skip_hcvglue = true
    minAgensRead = 50000
    minAgensCov = 5
}

process {

    withName: 'VIRALSEQ:HCV_ILLUMINA:HCV_GLUE_PARSER' {
        publishDir = [
            path: { "${params.outdir}/hcvglue" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:HCVGLUE' {
        publishDir = [
            path: { "${params.outdir}/hcvglue" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,html}'
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:KRAKEN2_FOCUSED' {
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*{report.txt,.classified*.fastq.gz}' // Publish both kraken report and classified files
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SUMMARIZE' {
        publishDir = [
            path: { "${params.outdir}/summarize" },
            mode: params.publish_dir_mode,
            pattern: '*LW_import.tsv'
        ]
    }

    withName: 'BOWTIE2_ALIGN' {
        ext.args = "--very-sensitive-local"
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'TANOTI_ALIGN' {
        maxForks = 4
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: BLAST_MAKEBLASTDB {
        ext.args = "-dbtype nucl"
    }

    withName: BLAST_BLASTN {
        ext.args = "-outfmt 6"
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_SORMADUP' {
        label      = 'error_ignore' // Ignore errors from this process. Tanoti mapper may in some cases produce small/empty BAM files.
        ext.prefix = { "${meta.id}.firstmapping.nodup" }
        ext.args5 = "-r"
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:SAMTOOLS_SORMADUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.major.nodup" }
        ext.args5 = "-r"
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:SAMTOOLS_SORMADUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.minor.nodup" }
        ext.args5 = "-r"
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_IDXSTATS_WITHDUP' {
        ext.prefix = { "${meta.id}.firstmapping.withdup" }
        publishDir = [
            enabled: false, // Don't publish any files from this process
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SORT_IDXSTATS' {
        ext.prefix = { "${meta.id}.firstmapping.withdup" }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_IDXSTATS_MARKDUP' {
        ext.prefix = { "${meta.id}.firstmapping.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.${meta.reference}.nodup" }
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:SAMTOOLS_IDXSTATS' {
        ext.prefix = { "${meta.id}.${meta.reference}.nodup" }
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_DEPTH.*' {
        ext.args   = '-aa -d 1000000'
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:SAMTOOLS_DEPTH' {
        ext.args   = '-aa -d 1000000'
        ext.prefix = { "${meta1.id}.${meta1.reference}.major.nodup" }
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:SAMTOOLS_DEPTH' {
        ext.args   = '-aa -d 1000000'
        ext.prefix = { "${meta1.id}.${meta1.reference}.minor.nodup" }
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}.firstmapping.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.major.withdup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:STATS_WITHDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.minor.withdup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MAJOR_MAPPING:STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.major.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VIRALSEQ:HCV_ILLUMINA:MINOR_MAPPING:STATS_MARKDUP' {
        ext.prefix = { "${meta.id}.${meta.reference}.minor.nodup" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode
        ]
    }
}



