/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUTADAPT' {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: '*report.txt'
        ]
    }
    withName: 'GLUEPARSE' {
        publishDir = [
            path: { "${params.outdir}/glueparse" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
    withName: 'NIPH_VIRALSEQ:VIRALSEQ:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_COLLATE' {
        ext.prefix = { "${meta.id}.collate" } // Avoid name collision with input bam
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }
    withName: 'NIPH_VIRALSEQ:VIRALSEQ:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_FIXMATE' {
        ext.args   = '-m'
        ext.prefix = { "${meta.id}.fixmate" } // Avoid name collision with input bam
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }
    withName: 'NIPH_VIRALSEQ:VIRALSEQ:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sort" } // Avoid name collision with input bam
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }
    withName: 'NIPH_VIRALSEQ:VIRALSEQ:BAM_MARKDUPLICATES_SAMTOOLS:SAMTOOLS_MARKDUP' {
        ext.args   = '-r' // Remove duplicate reads
        ext.prefix = { "${meta.id}.first_mapping.first_mapping" }
        ext.extension = 'markdup.bam'
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }
//    withName: 'NIPH_VIRALSEQ:VIRALSEQ:BOWTIE2_ALIGN' {
//        ext.args   = ''
//        ext.prefix = { "${meta.id}" }
//    }

}
