/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC_RAW {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}.raw" } // Avoid name collision with FASTQC_TRIM
    }

    withName: FASTQC_TRIM {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}.trimmed" } // Avoid name collision with FASTQC_RAW
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CUTADAPT' {
        ext.args = '-q 30 -m 50'
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: PRINSEQPLUSPLUS {
        ext.args = "-lc_entropy=0.5" // Higher is more stringent. I.e. low values retain more low complexity reads. 0.5 is the default.
        publishDir = [
            path: { "${params.outdir}/prinseqplusplus" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: 'UNTAR_KRAKEN_ALL' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

    withName: 'UNTAR_KRAKEN_FOCUSED' {
        publishDir = [
            enabled: false // Don't publish any files from this process
        ]
    }

}

includeConfig 'modules_hcv.config'
