/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on the NIPH server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
    nextflow run folkehelseinstituttet/hcvtyper -r <RELEASE/BRANCH> -profile server --input <SAMPLESHEET> --outdir <OUTDIR> 

    Each parameter can be overridden on the command line

----------------------------------------------------------------------------------------
*/

// Currently only docker can be used on the server
apptainer.enabled = false
docker.enabled = true

// Set directory for intermediate files
workDir = '/mnt/tempdata/work'

// Do not clean intermediate files on successful run. To allow -resume
cleanup = false

params {
    config_profile_name        = 'Server profile'
    config_profile_description = 'Parameters and settings for running the HCVTyper pipeline on the NIPH local server'

    kraken_all_db = '/mnt/tempdata/k2_pluspfp_08gb_20250714/' // The PlusPFP-08 with the HCV references added
}


process {

    resourceLimits = [
        cpus: 16,
        memory: '230.GB',
        time: '20.h'
    ]

    // Placeholder to override defaults when using a very large kraken2 database
    withName: 'VIRALSEQ:HCVTYPER:KRAKEN2_KRAKEN2' {
        cpus = 16 // override module defaults
        memory = 230.GB // override module defaults
    }
}
