/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on the NIPH server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
    nextflow run niph/viralseq -profile server --input <SAMPLESHEET> --outdir <OUTDIR> --agens <AGENS>

    Each parameter can be overridden on the command line

----------------------------------------------------------------------------------------
*/

// Currently only docker can be used on the server
docker.enabled = true

// Set directory for intermediate files
workDir = '/mnt/tempdata/work'

// Clean intermediate files on successful run
cleanup = true

params {
    config_profile_name        = 'Server profile'
    config_profile_description = 'Parameters and settings for running the viralseq pipeline on the NIPH local server'

    max_cpus   = 16
    max_memory = '256.GB'
    max_time   = '20.h'

    kraken_all_db = '/mnt/tempdata/Kraken_db/'
}
