/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on the NIPH server
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use as follows:
    nextflow run niph/viralseq -profile server --input <SAMPLESHEET> --outdir <OUTDIR> --agens <AGENS>

    Each parameter can be overridden on the command line

----------------------------------------------------------------------------------------
*/

// Currently only docker can be used on the server
docker.enabled = true

// Set directory for intermediate files 
workDir = '/mnt/tempdata/work'

// Clean intermediate files on successful run
cleanup = true

params {
    config_profile_name        = 'Server profile'
    config_profile_description = 'Parameters and settings for running the viralseq pipeline on the NIPH local server'

    max_cpus   = 16
    max_memory = '256.GB'
    max_time   = '20.h'

    strategy = 'mapping'
    mapper = 'tanoti'
    minAgensRead = 25000 // These are mapped fragments. Rougly corresponds to read pairs
    minAgensCov = 5
    kraken_all = 'true'
    kraken_all_db = '/mnt/tempdata/Kraken_db/'
    kraken_focused = '$projectDir/data/kraken_db/db_hepacivirus/'
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = '$projectDir/data/blast_db/HCVgenosubtypes_8.5.19_clean.fa'
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95
    skip_hcvglue = true
}
