/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run niph/viralseq -profile docker,test_full

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 8,
        memory: '50.GB',
        time: '20.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    input = 'full_test/samplesheet/samplesheet.csv' // Path to the samplesheet created by nf-core/fetchngs
    outdir = 'full_test' // Output directory for the results

    strategy = 'mapping'
    mapper = 'bowtie2'
    minRead = 100
    minCov = 5
    kraken_all = true
    kraken_focused = 'data/kraken_db/db_hepacivirus/'
    save_output_fastqs = true
    save_reads_assignment = true
    references = 'data/blast_db/HCVgenosubtypes_8.5.19_clean.fa'
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95


}
