/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run niph/viralseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal illumina test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    platform = 'nanopore'
    input  = 'assets/samplesheet_nanopore.csv'
    agens = 'HBV'
    outdir = 'minimal_test'
    genome = 'HBV_A'
    fastq_dir = 'data/fastq_pass'
    fasta = 'data/primer-schemes/HBV/V1/HBV.reference.fasta'
    primer_bed = 'data/primer-schemes/HBV/V1/HBV.scheme.bed'
    primer_fasta = 'data/primer-schemes/HBV/V1/HBV.primers.fasta'
    primer_set = 'gunther'
    primer_set_version = 1
    artic_minion_medaka_model = 'r941_min_hac_g507'
    artic_scheme = 'HBV_A'
}
