/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run niph/viralseq -profile docker,test

----------------------------------------------------------------------------------------
*/

docker.userEmulation = false

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal illumina test dataset to check pipeline function'

    input  = "${projectDir}/tests/csv/samplesheet_minimal_test.csv"
    outdir = 'minimal_test'
    strategy = 'mapping'
    mapper = 'bowtie2'
    minRead = 100
    minCov = 5
    kraken_all = 'true'
    kraken_all_db = 'https://raw.githubusercontent.com/folkehelseinstituttet/hcvtyper/test-datasets/kraken2/db_hepacivirus/db_hepacivirus.tar.gz'
    kraken_focused = 'https://raw.githubusercontent.com/folkehelseinstituttet/hcvtyper/test-datasets/kraken2/db_hepacivirus/'
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = 'https://raw.githubusercontent.com/folkehelseinstituttet/hcvtyper/test-datasets/blast_db/HCVgenosubtypes_8.5.19_clean.fa'
    skip_hcvglue = true
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95
}
