/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run niph/viralseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    input  = 'assets/samplesheet.csv'
    agens = 'HCV'
    outdir = 'minimal_test'
    spades_mode = 'rnaviral'
    strategy = 'mapping'
    mapper = 'bowtie2'
    minAgensRead = 100
    minAgensCov = 5
    kraken_all = 'true'
    kraken_all_db = 'data/kraken_db/db_hepacivirus'
    kraken_focused = 'data/kraken_db/db_hepacivirus/'
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = 'data/blast_db/HCVgenosubtypes_8.5.19_clean.fa'
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95
    skip_hcvglue = true
}
