/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run niph/viralseq -profile docker,test_full

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // SRA accession ERR1810510 from the paper Thomson et al 2016 (PMC5035407).
    sra_accession = 'ERR1810510'
    input = 'assets/samplesheet_illumina.csv' // Not used, but required input parameter

        // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '250.GB'
    max_time   = '240.h'

    outdir = 'full_test'
    strategy = 'mapping'
    mapper = 'bowtie2'
    minAgensRead = 100
    minAgensCov = 5
    kraken_all = 'true'
    kraken_focused = 'data/kraken_db/db_hepacivirus/'
    save_output_fastqs = 'true'
    save_reads_assignment = 'true'
    references = 'data/blast_db/HCVgenosubtypes_8.5.19_clean.fa'
    tanoti_stringency_1 = 85
    tanoti_stringency_2 = 95


}
